@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
$PT-sans: "PT Sans", sans-serif;

.order{
    padding: 40px;
    margin: 20px 0;
    background-color: white;
    position: relative;
    &__id{
        position: absolute;
        top:48px;
        right: 20px;
        font-family: $PT-sans;
    }
    &__total{
        font-weight: 500;
        text-align: right;
        font-family: $PT-sans;
    }
}