@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
$PT-sans: "PT Sans", sans-serif;

.order{
    background-color: white;
    margin-bottom: 20px;
    font-family: $PT-sans;
    &__container{
        display: flex;
        flex-direction: column;
        &__order{
            display: flex;
            align-content: space-between;
        }
        &__title{
            font-family: $PT-sans;
        }
        &__id{
            font-size: medium;
            font-family: $PT-sans;
        }
        &__content{
            font-family: $PT-sans;
        }
    }

    &__total{
        font-weight: 500;
        text-align: right;
        font-family: $PT-sans;
    }
}