@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
$PT-sans: "PT Sans", sans-serif;


.orders {
  padding: 20px ;
  &__order {
    margin: 30px 0;
  }
  &__title{
    font-family: $PT-sans;
  }
}
