@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$background-color: #f8bd59;
$PT-sans: "PT Sans", sans-serif;

.product {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  &__image {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }
  &__rating{
      display: flex;
  }
  &__info {
    height: 100px;
    margin-bottom: 15px;
    font-family: $PT-sans;
  }
  &__price {
    font-family: $PT-sans;
    margin-top: 5px;
  }
  &__button {
    margin-top: 18px;
    padding: 5px;
    color: white;
    background-color: $background-color;
    font-family: $PT-sans;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    border-bottom-style: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
  }
  &__button:focus {
    cursor: pointer;
    border: none;
    border-bottom-style: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
  }
  &__button:hover {
    cursor: pointer;
    border: none;
    border-bottom-style: hidden;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
  }
}
