@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$background-color: #f8bd59;
$PT-sans: "PT Sans", sans-serif;
.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $background-color;
  position: sticky;
  top: 0;
  z-index: 100;
  &__link{
    text-decoration: none;
  }
  &__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
  }
  &__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    &__input {
      height: 12px;
      padding: 10px;
      width: 100%;
      border-radius: 0.5em;
      border-bottom-style: hidden;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
    }
    &__input:focus {
      outline: none;
    }
    &__icon {
      padding: 5px;
      background-color: $background-color;
      color: white;
      height: 22px !important;
      border: 1 px solid white;
      border-radius: 3px;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-evenly;
    &__option {
      display: flex;
      flex-direction: column;
      margin-left: 5px;
      margin-right: 5px;
      color: white;
      padding: 3px;
      &__one {
        font-family: $PT-sans;
        font-size: 14px;
        font-weight: 800;
        text-decoration: none
      }
      &__two {
        font-family: $PT-sans;
        font-size: 14px;
        font-weight: 400;
      }
      &__three {
        font-family: $PT-sans;
        font-size: 14px;
        font-weight: 400;
      }
      &__four {
        font-family: $PT-sans;
        font-size: 14px;
        font-weight: 400;
      }
      &__five {
        font-family: $PT-sans;
        font-size: 14px;
        font-weight: 400;
      }
      &__six {
        font-family: $PT-sans;
        font-size: 14px;
        font-weight: 400;
      }
      &__basket {
        display: flex;
        align-items: center;
        color: white;
        margin-right: 20px;
      }
    }
  }
}
.MuiBadge-colorPrimary {
  color: $background-color !important;
  background-color: white !important;
}
.MuiBadge-badge {
  height: 18px !important;
  border: 1px solid lightgrey !important;
  font-family: $PT-sans !important;
  font-weight: bolder !important;
}
