@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$background-color: #f8bd59;
$PT-sans: "PT Sans", sans-serif;
.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: $background-color;
  position: sticky;
  top: 0;
  z-index: 100;
  &__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
  }
  &__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;

    &__input {
      height: 12px;
      padding: 10px;
      width: 100%;
      border-radius: 0.5em;
      border-bottom-style: hidden;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
    }
    &__input:focus {
      border-bottom-style: hidden;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      outline: none;
    }
    &__icon {
      padding: 5px;
      background-color: $background-color;
      color: white;
      height: 22px !important;
      border: 1 px solid white;
      border-radius: 3px;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-evenly;
    &__option {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
      color: white;
      padding: 0.1em;
      &__one {
        font-family: $PT-sans;
        font-size: 16px;
        font-weight: 800;
      }
      &__two {
        font-family: $PT-sans;
        font-size: 16px;
        font-weight: 400;
      }
      &__three {
        font-family: $PT-sans;
        font-size: 16px;
        font-weight: 400;
      }
      &__four {
        font-family: $PT-sans;
        font-size: 16px;
        font-weight: 400;
      }
      &__five {
        font-family: $PT-sans;
        font-size: 16px;
        font-weight: 400;
      }
      &__six {
        font-family: $PT-sans;
        font-size: 16px;
        font-weight: 400;
      }
      &__basket {
        display: flex;
        align-items: center;
        color: white;
      }
      &__basket-count {
        font-family: $PT-sans;
        font-size: 12px;
        font-weight: 400;
        margin-right: 10px;
        margin-left: 10px;
        padding: 2px;
        border-radius: 10px;
        background-color: white;
        color: $background-color;
      }
    }
  }
}
